{{define "add"}}
<!DOCTYPE html>
<html lang="en">
    {{template "head" "Add"}}
    <body>
        {{template "header" "Add"}}
        <main>
            <form method="POST" action="/add">
                <input tyoe="text" placeholder="Data in the Block" required name="blockData" />
                <button>Add Block</button>
            </form>
        </main>
        {{template "footer"}}
    </body>
</html>
{{end}}